//	Headings
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900')
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap')

// font-weight: 400; //normal
// font-weight: 500; //medium
// font-weight: 700; //bold









.serviceTextTitle
  color: $textGrey
  font-family: 'Montserrat', sans-serif
  font-weight: normal
  font-size: 25px
  line-height: 0px

.contactsTextTitle
  color: $textGrey
  font-family: 'Montserrat', sans-serif
  font-weight: bold
  font-size: 25px
  line-height: 0px
  padding-bottom: 10px

.contactsTextSubTitle
  color: $textGrey
  font-family: 'Roboto', sans-serif
  font-weight: lighter
  font-size: 20px
  line-height: 30px


.footerText
  color: white
  font-family: 'Roboto', sans-serif
  font-size: 20px
  padding: 10px
  @media only screen and (max-width: 680px)
    font-size: 15px

hr
  border: solid $hrColor
  border-width: 1px 0 0
  clear: both
  margin: 40px 0 40px
  height: 0
  @media only screen and ($smartphoneRotated), (max-width: 900px) and (min-width: 680px)
    margin: 0px 0 40px



.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6
  color: #222
  font-weight: bold
  font-family: 'Roboto', sans-serif

.gigantic
  font-size: 110px
  line-height: 1.09
  letter-spacing: -2px

.huge, h1
  font-size: 68px
  line-height: 1.05
  @media only screen and ($smartphone), ($smartphoneRotated)
    font-size: 44px

.large
  font-family: 'Montserrat', sans-serif
  font-size: 42px
  line-height: 96px
  @media only screen and ($smartphone), ($smartphoneRotated)
    font-size: 30px

.bigger, h3
  font-family: 'Roboto-Medium', sans-serif
  font-size: 50px
  line-height: 0px
  font-weight: 500
  color: $white
  @media only screen and ($smartphone), ($smartphoneRotated)
    font-size: 35px

.big, h4
  font-size: 35px
  line-height: 1.38
  font-weight: 400
  line-height: 0px
  color: $white
  @media only screen and ($smartphone), ($smartphoneRotated)
    font-size: 22px

.small, small
  font-size: 10px
  line-height: 1.2


// Basic Text Style

p
  font-weight: 400
  font-size: 14px

em
  font-style: italic

strong
  font-weight: bold


.company-slogan
  color: $white
  font-weight: normal
  font-size: 45px
  text-align: center
  @media only screen and ($smartphone), ($smartphoneRotated)
    display: none

.sectionTitle
  color: $textGrey
  font-family: 'Montserrat', sans-serif
  font-size: 60px
  line-height: 0px
  margin-bottom: 100px
  @media only screen and ($smartphone), ($smartphoneRotated)
    font-size: 30px
    margin-bottom: 50px
    @media only screen and (max-width: 330px)
          line-height: 35px

.smallProductTitle
  font-size: 35px

.smallProductTag
  font-size: 22px

.sobreText
  color: black
  font-family: 'Roboto', sans-serif
  font-weight: normal
  font-size: 22px
  text-align: justify
  @media only screen and ($smartphone), ($smartphoneRotated)
    font-size: 15px
    line-height: 30px

.newsletterText
  color: white
  font-family: 'Roboto-Medium', sans-serif
  font-weight: normal
  font-size: 60px
  line-height: 65px
  @media only screen and ($smartphone), ($smartphoneRotated)
    line-height: 40px
    font-size: 20px
