$brown: #3E3335
$gold: #F0D5BC


$smartphone: "max-width: 680px"
$smartphoneRotated: "max-height: 414px"

$tablet: "max-width: 768px"
$tabletRotated: "max-height: 768px"


$tabletBig: "max-width: 1024px"
$tabletBigRotated: "max-height: 1024px"

$desktop: "max-width: 992px"
$largeDesktop: "max-width: 1200px"


// Borders 40px (20 - 20)
// //Horizontal
$galaxyS5: "max-width: 360px"
$pixel2: "max-width: 411px"
$iPhone5_SE: "max-width: 320px"
$iPhone6_7_8: "max-width: 375px"
$iPhone6_7_8Plus: "max-width: 414px"
$iPhoneX: "max-width: 375px"
$iPad: "max-width: 768px"
$iPadPro: "max-width: 1024px"

// //Vertical
$galaxyS5Rotate: "max-width: 640px"
$pixel2Rotate: "max-width: 731px"
$Pixel2XLRotate: "max-width: 823px"
$iPhone5_SERotate: "max-width: 568px"
$iPhone6_7_8Rotate: "max-width: 667px"
$iPhone6_7_8PlusRotate: "max-width: 736px"
$iPhoneXRotate: "max-width: 812px"
